.js--modal .modal--checkout-add-article {

    .message--shipping-free {
        padding: 0px 20px 5px 20px;

        .alert.is--info {
            color: #23405C;
            font-weight: 400;
        }
    }

    .modal--title {
        color: #23405C;
    }

    .hr--box-basic-container .hr--box-item-supplier {
        height: 20px;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }

    .product--box .product--title {
        margin: 0;
    }

    .product--info .hr-ie-container {
        margin-bottom: 0px;
    }

    .box--slider .product--image {
        margin-bottom: 0px;
        height: 7.5rem;
    }

    .panel--body {
        padding: 0rem .625rem 0rem .625rem;
    }

    .panel--title {
        font-size: 0.875rem;
    }

    .panel--title.is--underline {
        padding: 14px 0px 10px 0px;
    }

    .box--slider .product--title {
        color: #23405C;
    }

    .alert.is--info {
        color: #23405C;
        font-weight: 400;
        background: white;
        border: 1px solid #A4CA4D;

        .alert--icon {
            background: #A4CA4D;
        }
    }

    .list--name .link--name {
        color: #23405C;
        font-size: 1rem;
    }

    @media screen and (min-width: @phoneLandscapeViewportWidth) {

        .list--name {
            margin-right: 25px;
        }
    }

    .list--price .entry--price {
        font-size: 1rem;
        color: #0e1925;
    }
}




