.table--tr:nth-last-child(2){
    border-bottom: none;
}

.table--tr.table--seperator{
    border-bottom: 1px solid #23405C;
}

.product--table .table--header.block-group{
    border-bottom: 1px solid #23405C;
}

.product--table .panel--body.is--rounded > div:nth-last-child(2) > div:last-child{
    border-bottom: none;
}

.table--content .content--title{
    color: #23405C;

    &:hover{
        color:#a4ca4d;
    }
}

.product--table .alert.is--info{
    color:#23405C;
    font-weight: 400;
    background: white;
    border: 1px solid #a4ca4d;

    .alert--icon{
        background: #a4ca4d;
    }
}

.slider--top-products{
    margin-top: 1.25rem;
}


